body {
    margin: 0;
    padding: 10px 0 0 0;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
}
  
body.dark {
    background-color: #000000;
    color: #fffbfb;
}